<div ng-controller='InstrumentController'>  
  <script>
  var synth = new Tone.SimpleSynth().toMaster();
  </script>
  <div class="row text-center">
    What's your name?
    <input ng-model="username" type="text">
  </div>

  <div ng-show="visible.keyboard">
    <button class="button" ng-click="sendNote('C4', '0.25', '')">C</button>
    <button class="button" ng-click="sendNote('D4', '0.25', '')">D</button>
    <button class="button" ng-click="sendNote('E4', '0.25', '')">E</button>
    <button class="button" ng-click="sendNote('F4', '0.25', '')">F</button>
    <button class="button" ng-click="sendNote('G4', '0.25', '')">G</button>
    <button class="button" ng-click="sendNote('A4', '0.25', '')">A</button>
    <button class="button" ng-click="sendNote('B4', '0.25', '')">B</button>
    <button class="button" ng-click="sendNote('C5', '0.25', '')">C</button>
    <div id="Keyboard"></div>
  </div>

  <div ng-show="visible.drums">
    <button class="button" ng-click="sendNote(0, '0.25', 'snare')">Snare</button>
    <button class="button" ng-click="sendNote(0, '0.25', 'hats')">Hats</button>
    <button class="button" ng-click="sendNote('C4', '0.25', 'kick')">Kick</button>
    <button class="button" ng-click="sendNote('C4', '0.25', 'bass')">Bass</button>
    <div id="Keyboard"></div>
  </div>

  <div ng-show="visible.voice">
    <input ng-model="texttovoice" type="text">
    <button class="button success" ng-click="sendNote(texttovoice, '', '')">Sing!</button>
  </div>

  <div>
    <canvas></canvas>
    <!-- negative limitTo copysfrom the end of the array -->
    <div ng-repeat="note in playedNotes.slice().reverse()">
      {{note.username}}: {{note.playedNote}}
    </div>
  </div>
</div>