<div ng-controller='InstrumentController'>  
  <div class="row text-center">
    <div class="columns small-4">
      <a href="/#/instrument/drums"><img src="/data/img/noun_138847_cc.png"></a>
    </div>
    <div class="columns small-4">
      <a href="/#/instrument/piano"><img src="/data/img/noun_378_cc.png"></a>
    </div>
    <div class="columns small-4">
      <a href="/#/instrument/voice"><img src="/data/img/noun_132696_cc.png"></a>
    </div>   
  </div>
  <div class="row text-center">
    <a href="/#/playSong"><button class="button">Replay a song!</button></a>
  </div>
  <div class="row text-center">
    Piano by Edward Boatman from the Noun Project, Drum Set by Eugene Reznik from the Noun Project, Microphone by Creative Stall from the Noun Project
  </div>
</div>